build
coverage
dist
dist-ssr
.DS_Store
.firebase
firebase-debug.log*
.idea
lerna-debug.log*
*.local
*.log
logs
*.njsproj
node_modules
npm-debug.log*
*.ntvs*
pnpm-debug.log*
*.sln
*.suo
*.sw?
.vscode/*
!.vscode/extensions.json
yarn-debug.log*
yarn-error.log*
